.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;

  .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: white;
    background-color: transparent;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 7px;
    line-height: 1.43;
    font-size: 14px;
    min-width: 32px;

    &.dots {
      background-color: transparent;
      cursor: default;
    }
    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }

    &:hover {
      color: white;
      background-color: green;
      cursor: pointer;
    }

    &.selected {
      color: green;
      background-color: white;
    }

    .arrow {
      &::before {
        position: relative;
        content: "";
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid white;
        border-top: 0.12em solid white;
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid rgb(104, 104, 104);
        border-top: 0.12em solid rgb(104, 104, 104);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
